@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Fjalla+One&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Murecho:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Source+Serif+4:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');



*{padding:0px;margin:0px;}

body{
   font-family: 'Oswald', sans-serif;

}
header{


  background:#126493;
   height: 300px;
}
.container{

width:1150px;
margin:auto;

height: 100px;
}

.phone{

width:250px;
float:left;
padding-top:20px;

}

.phone i{
padding:0px 10px;
color:orangered;

}

.email{
width:300px;
float:left;
padding-top:20px;


}

.email i{
padding:0px 10px;
color:orangered;


}



  a i{
color:black;

padding:30px 20px;
background:rgba(0, 238, 255, 0.611);




}

a i:hover{
color:orangered;
transition:1s;


}

section{height:700px;
   padding-top:70px;

   }

.top-banner{


background-image:url("image/banner1.png");
background-repeat:no-repeat;
background-size:cover;



}

h1{
font-size:60px;
padding-left:10px;
padding-top:50px;


}
h2{font-size:40px;
padding-left:10px;


}

h3{
font-size:25px;
padding-left:10px
}
p{
padding-left:10px;

}
.hire{
   width:100px;
   background-color:orangered;
   text-align:center;
   border-radius:5px;
   padding:8px;
   margin-left:10px;
   
}
.hire:hover{

background:white;
transition: 2s ease ;



}



a{

   color:white;
   text-decoration:none;
   
}



a:hover{
color:orangered;
transition:5s ease ;


}

.width{
   width:500px;
   float:left;


}
.image1{
width:400px;
float:right;


}
.dreamarea{
   background-image: url("image/banner2.png");
   background-repeat: no-repeat;
   background-size:cover;
  
}
.image2{

float:left;
padding-left:20px;

}
.width2{

width:500px;
float:right;
padding-right:10px;

}

.link-button{
background:orangered;
width:200px;
margin:auto;
text-align:center;
padding:8px;
border-radius:5px;


}
.width3{

width:500px;
float:right;
padding:10px;


}


div.monir1{

   width:550px;
   float:left;
   
   }


.width4{
   width:500px;
   
   padding-right:20px;
padding:10px;


}


section.experience{

height:500px;


}

.single-experience{

box-shadow:10px 10px 40px gray;

border-radius:10px;

height:265px;

}

div.monir2{

width:550px;
float:right;


}

.mn{

box-shadow:10px 10px 40px gray;

border-radius:10px;
height:265px;
}

#full-stack{

border-left:7px solid;
border-image: linear-gradient(90deg, lightsalmon, tomato);
border-image-slice: 1;

}

#full-stack2{

border-left:7px solid;
border-image: linear-gradient(blue, red);

border-image-slice: 1;


}
footer p{
text-align:center;
background:#7f141a;

}